<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Freecycle</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.6.8/css/layui.css">
    <style>
        .search {

            position: relative;
            width: 260px;
            height: 40px;
            border: 1px solid rgb(156, 154, 154);
            border-radius: 20px;
            background: #fff;
        }

        .input {
            position: absolute;
            top: 0;
            left: 0;
            height: 40px;
            width: 210px;
            text-align: center;
        }

        .input input {
            width: 190px;
            height: 25px;
            border: none;
            margin-top: 5px;
            outline: none;
            padding-top: 2px;
            margin-left: 10px;
        }

        .img {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 40px;
            text-align: center;
            width: 50px;
            height: 40px;
            border-left: 1px solid rgb(156, 154, 154);
        }

        .img img {
            margin-top: 0px;
            padding-right: 8px;
            width: 30px;
        }

        .box {
            position: relative;
        }

        .form {
            position: absolute;
            left: 50%;
            margin-top: 12px;
            transform: translateX(-50%);
        }

        .btn {
            background-color: transparent;
            border-style: none;
            border: none;
        }
    </style>
</head>
<body>
<div class="box">


    <ul class="layui-nav layui-bg-green" style="height: 65px;background-color: #5bba5b !important;">
        <!--搜索框开始-->
        <form class="form" th:action="@{/indexSearch}" method="get">
            <div class="search">
                <div class="input">
                    <input type="text" name="category" placeholder="找寻物资">
                </div>
                <div class="img">
                    <button type="submit" class="btn">
                        <img th:src="@{/images/search.png}" alt="">
                    </button>
                </div>
            </div>
        </form>
        <!--搜索框结束-->

        <li class="layui-nav-item">
            <a th:href="@{/index.html}" style="font-size: 25px">Freecycle
                <img style="width: 60px;height: 48px" src="/images/614.png">
                </img>
            </a>
        </li>
        <li class="layui-nav-item" style="margin-left: 1350px;font-size: 15px">
            你好啊！<span th:if="${loginUser} ne null">[[${loginUser.userName}]]</span>
            <span th:if="${loginUser} eq null">请先登录</span>
        </li>
        <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;"><img th:src="@{/images/goods/portrait.png}" class="layui-nav-img"></a>
            <dl class="layui-nav-child">
                <dd th:if="${loginUser} ne null"><a th:href="@{/user}">个人中心</a></dd>
                <dd th:if="${loginUser} eq null"><a th:href="@{/login}">个人中心</a></dd>
                <dd><a th:href="@{/userAddPage}">捐赠物品</a></dd>
                <hr>
                <dd style="text-align: center;"><a th:href="@{/login}">登录</a></dd>
                <dd style="text-align: center;"><a th:href="@{/logout}">退出</a></dd>
            </dl>
        </li>
    </ul>

    <div style="height: 195px">
        <div style="margin-left: 600px;margin-top: 17px;width: 260px;height: 60px;">
            <div>
                <img src="/images/introtop.png" alt="">
            </div>
            <div style="width: 700px;margin-left: 28px">
                <p>欢迎来到 <span style="color: #3aa53a;font-size: 18px"><strong>Freecycle Network ™！</strong></span>我们是一个完全非营利的组织，
                    目的是在自己的校园内免费赠送和获取物品的人们组成。这完全是关于重复使用和
                    让好东西远离垃圾填埋场。资格是免费的。现在，您还可以建立自己的
                    小型个人朋友圈，与朋友一起赠送和借出物品！
                </p>
            </div>
            <div>
                <img th:src="@{images/introbottom.png}" alt="">
            </div>
        </div>
    </div>
    <!--主页展示开始-->
    <div class="layui-bg-gray" style="padding: 30px;" th:if="${page.records.size()} ne 0">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3" th:each="goods,stat:${page.records}">
                <div class="layui-panel" style="height: 520px">
                    <div style="padding: 10px 20px;">
                        <!--categoryStart-->
                        <div style="margin: auto;width: 400px">
                            <div>
                                <img style="width: 350px;height: 350px;margin-left: 26px"
                                     th:src="@{/images/goods/{photo}(photo=${goods.photo})}">
                            </div>
                            <div style="height:30px;margin-top: 10px;text-align: center;font-size: 20px;color: #3aa53a">
                                <span th:text="${goods.category}"></span>
                            </div>
                            <div style="margin-top: 5px;margin-left: 28px;width: 355px;height: 60px">
                                <span style="font-size: 16px">物品详情:</span>
                                <span style="font-size: 15px" th:text="${goods.description}"></span>
                            </div>
                            <div style="margin-top: 8px" th:if="${goods.state} eq 1"><a th:href="@{/receive(goodsId=${goods.goodsId},pn=${page.current})}">
                                <button style="margin-left: 270px;font-size: 16px;color: #3aa53a !important;"
                                        class="layui-btn layui-btn-primary layui-btn-radius">
                                    我要领取
                                </button></a>
                            </div>
                            <div style="margin-top: 8px" th:if="${goods.state} eq 2">
                                <button style="margin-left: 270px;font-size: 16px;color: #3aa53a !important;"
                                        class="layui-btn layui-btn-primary layui-btn-radius">
                                    已被申领
                                </button>
                            </div>
                        </div>
                        <!--categoryEnd-->
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 15px">
            <div style="font-size: 18px">当前第 <span style="color: #5bba5b">[[${page.current}]]</span> 页 总计
                <span style="color: #5bba5b">[[${page.pages}]]</span> 页 共
                <span style="color: #5bba5b">[[${page.total}]]</span> 条记录

                <!--            页码开始-->
                <span style="margin-left: 1300px">
                <button type="button" class="layui-btn layui-btn-sm" style="background-color: #5bba5b !important;">
                  <a class="" th:href="@{/index.html(pn=${page.current}-1)}">
                        上一页
                  </a>
                </button>
                <span th:class="${num == page.current}?active : '' "
                      th:each="num:${#numbers.sequence(1,page.pages)}">
                    <a th:href="@{/index.html(pn=${num})}">[[${num}]]</a>
                </span>
                &nbsp;
                <button type="button" class="layui-btn layui-btn-sm" style="background-color: #5bba5b !important;">
                  <i class="layui-icon layui-font-12">
                      <a th:href="@{/index.html(pn=${page.current}+1)}">
                          下一页
                      </a>
                  </i>
                </button>
            </span>
                <!--            页码结束-->
            </div>
        </div>
    </div>
    <!--数据为空时-->
    <div class="layui-bg-gray" style="padding: 30px;" th:if="${page.records.size()} eq 0">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-panel" style="height: 520px">
                    <div style="padding: 10px 20px;">
                        <!--categoryStart-->
                        <div style="margin-left: 16px;margin-top: 10px;width: 400px">
                            <p style="color: mediumpurple;font-size: 20px">
                                没有找到需要的物品,先去看看
                                <a style="color: #5bba5b;font-size: 20px;" th:href="@{/index.html}">
                                    "所有物品"
                                </a>吧!
                            </p>
                        </div>
                        <!--categoryEnd-->
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 15px">
            <div style="font-size: 18px">当前第 <span style="color: #5bba5b">[[${page.current}]]</span> 页 总计
                <span style="color: #5bba5b">[[${page.pages}]]</span> 页 共
                <span style="color: #5bba5b">[[${page.total}]]</span> 条记录

                <!--            页码开始-->
                <span style="margin-left: 1300px">
                <button type="button" class="layui-btn layui-btn-sm" style="background-color: #5bba5b !important;">
                  <a class="" th:href="@{/index.html(pn=${page.current}-1)}">
                        上一页
                  </a>
                </button>
                <span th:class="${num == page.current}?active : '' "
                      th:each="num:${#numbers.sequence(1,page.pages)}">
                    <a th:href="@{/index.html(pn=${num})}">[[${num}]]</a>
                </span>
                &nbsp;
                <button type="button" class="layui-btn layui-btn-sm" style="background-color: #5bba5b !important;">
                  <i class="layui-icon layui-font-12">
                      <a th:href="@{/index.html(pn=${page.current}+1)}">
                          下一页
                      </a>
                  </i>
                </button>
            </span>
                <!--            页码结束-->
            </div>
        </div>
    </div>
    <!--主页展示结束-->

</div>
<script th:src="@{/js/layui.js}">
</script>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });

        var rate = layui.rate;
        //基础效果
        rate.render({
            elem: '#test1'
        })
    });
</script>

</body>
</html>